In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pysal as ps
import geopandas as gpd

plt.rcParams['figure.figsize'] = [15, 8]
pd.set_option('display.max_columns', None)

In [4]:
os.listdir('../data')

['df.xlsx',
 'holidays_events.csv',
 'items.csv',
 'oil.csv',
 'sample_submission.csv',
 'stores.csv',
 'test.csv',
 'train+oil.xlsx',
 'train.csv',
 'transactions.csv']

In [6]:
train_df = pd.read_csv('../data/train.csv')

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
train_df.head()

   id        date  store_nbr  item_nbr  unit_sales onpromotion
0   0  2013-01-01         25    103665         7.0         NaN
1   1  2013-01-01         25    105574         1.0         NaN
2   2  2013-01-01         25    105575         2.0         NaN
3   3  2013-01-01         25    108079         1.0         NaN
4   4  2013-01-01         25    108701         1.0         NaN

In [7]:
stores_df = pd.read_csv('../data/stores.csv')

In [14]:
stores_df.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [81]:
# find location of target store (store_nbr == 44)
stores_df[stores_df['store_nbr'] == 44]

    store_nbr   city      state type  cluster
43         44  Quito  Pichincha    A        5

In [82]:
# find other stores in the same cluster/city
tmp = stores_df[(stores_df['cluster'] == 5) | (stores_df['city'] == 'Quito')]
tmp

    store_nbr   city      state type  cluster
0           1  Quito  Pichincha    D       13
1           2  Quito  Pichincha    D       13
2           3  Quito  Pichincha    D        8
3           4  Quito  Pichincha    D        9
5           6  Quito  Pichincha    D       13
6           7  Quito  Pichincha    D        8
7           8  Quito  Pichincha    D        8
8           9  Quito  Pichincha    B        6
9          10  Quito  Pichincha    C       15
16         17  Quito  Pichincha    C       12
17         18  Quito  Pichincha    B       16
19         20  Quito  Pichincha    B        6
43         44  Quito  Pichincha    A        5
44         45  Quito  Pichincha    A       11
45         46  Quito  Pichincha    A       14
46         47  Quito  Pichincha    A       14
47         48  Quito  Pichincha    A       14
48         49  Quito  Pichincha    A       11

In [83]:
neighbours = tmp['store_nbr'].tolist()
neighbours.remove(44)

In [84]:
neighbours

[1, 2, 3, 4, 6, 7, 8, 9, 10, 17, 18, 20, 45, 46, 47, 48, 49]

In [85]:
neighbours_df = []

# check if neighbours sell the same item as the target store (1503844)
tmp_df = train_df[(train_df['store_nbr'].isin(neighbours)) & (train_df['item_nbr'] == 1503844)]

In [86]:
tmp_df.shape

(12264, 6)

In [87]:
tmp_df.head()

                id        date  store_nbr  item_nbr  unit_sales onpromotion
16326059  16326059  2014-01-02          1   1503844     205.527         NaN
16327810  16327810  2014-01-02          2   1503844     281.905         NaN
16329733  16329733  2014-01-02          3   1503844     615.122         NaN
16331355  16331355  2014-01-02          4   1503844     237.730         NaN
16334776  16334776  2014-01-02          6   1503844     287.284         NaN

In [88]:
tmp_df.reset_index(inplace = True, drop = True)

In [89]:
tmp_df = tmp_df.groupby(['store_nbr', 'date'], as_index=False).max()
tmp_df.head()

   store_nbr        date        id  item_nbr  unit_sales onpromotion
0          1  2014-01-02  16326059   1503844     205.527         NaN
1          1  2014-01-03  16392837   1503844     193.054         NaN
2          1  2014-01-04  16457927   1503844     153.865         NaN
3          1  2014-01-05  16526561   1503844      44.622         NaN
4          1  2014-01-06  16594508   1503844     113.703         NaN

In [90]:
tmp_df.tail()

       store_nbr        date         id  item_nbr  unit_sales onpromotion
12259         49  2017-08-11  125068699   1503844     468.598       False
12260         49  2017-08-12  125173925   1503844     507.750       False
12261         49  2017-08-13  125279686   1503844     624.804       False
12262         49  2017-08-14  125383380   1503844     622.435       False
12263         49  2017-08-15  125486176   1503844     426.359       False

In [157]:
df = train_df[(train_df['store_nbr'] == 44) & (train_df['item_nbr'] == 1503844)]
exog = []
for n in neighbours:
    t = tmp_df[tmp_df['store_nbr'] == n][['unit_sales', 'date']]
    df = pd.merge(df, t, how = 'outer', on = 'date', suffixes = ('', str(n)))
    exog.append('unit_sales' + str(n))

df = df.fillna(0)

In [158]:
df.head(50)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,unit_sales1,unit_sales2,unit_sales3,unit_sales4,unit_sales6,unit_sales7,unit_sales8,unit_sales9,unit_sales10,unit_sales17,unit_sales18,unit_sales20,unit_sales45,unit_sales46,unit_sales47,unit_sales48,unit_sales49
0,16377457,2014-01-02,44,1503844,966.1490,0,205.5270,281.9050,615.1220,237.7300,287.2840,497.2570,500.7700,0.0,0.0,0.0,0.0,0.0,685.3920,212.1760,643.9320,198.0140,399.1760
1,16442863,2014-01-03,44,1503844,663.4050,0,193.0540,203.4590,577.9060,141.4590,231.1620,480.9320,275.4320,0.0,0.0,0.0,0.0,0.0,473.4860,103.8650,432.2570,112.8110,352.1350
2,16511061,2014-01-04,44,1503844,1075.0000,0,153.8650,219.7700,804.3920,222.1490,280.8240,463.3780,570.1890,0.0,0.0,0.0,0.0,0.0,790.0680,231.8510,566.1220,190.6080,593.2430
3,16578789,2014-01-05,44,1503844,892.6080,0,44.6220,294.9590,506.9050,136.7430,182.7030,508.4190,339.0680,0.0,0.0,0.0,0.0,0.0,407.3240,183.6760,449.4050,257.2300,577.9190
4,16642520,2014-01-06,44,1503844,261.5540,0,113.7030,62.5000,153.1620,114.8780,92.7700,480.7430,261.9590,0.0,0.0,0.0,0.0,0.0,366.5680,51.6350,103.4590,133.0680,409.2840
5,16705308,2014-01-07,44,1503844,646.7160,0,170.6890,221.0950,452.2300,139.4190,223.2030,390.6080,462.5410,0.0,0.0,0.0,0.0,0.0,462.0000,99.4320,389.2160,65.6490,347.3920
6,16768213,2014-01-08,44,1503844,1165.2097,0,224.1935,264.3710,812.0968,240.1290,228.5000,512.8226,608.5161,0.0,0.0,0.0,0.0,0.0,658.5645,161.7742,549.8548,126.0968,495.3710
7,16830673,2014-01-09,44,1503844,620.6760,0,134.4460,169.5810,534.2020,125.9320,146.2570,346.0540,345.0410,0.0,0.0,0.0,0.0,0.0,351.0270,93.7840,283.1080,145.6220,361.6220
8,16892999,2014-01-10,44,1503844,602.2430,0,147.8780,152.0000,432.8650,132.8780,164.0810,345.8650,340.8380,0.0,0.0,0.0,0.0,0.0,450.4190,113.8650,307.1350,78.6620,413.3110
9,16960548,2014-01-11,44,1503844,1090.4050,0,187.2840,233.1760,599.1620,188.4460,203.8380,381.2570,550.8780,0.0,0.0,0.0,0.0,0.0,579.0950,180.9460,539.3240,149.4460,481.2970
10,17027884,2014-01-12,44,1503844,1273.1890,0,106.0810,311.8510,814.7430,305.2700,370.3240,380.1220,602.0270,0.0,0.0,0.0,0.0,0.0,806.3380,234.2030,686.1890,215.4320,628.9860
11,17092326,2014-01-13,44,1503844,826.3920,0,186.1220,185.6490,479.7160,152.9320,210.7030,439.8240,365.9320,0.0,0.0,0.0,0.0,0.0,491.4460,147.0270,354.3510,139.1220,403.1220
12,17154793,2014-01-14,44,1503844,581.0540,0,129.2970,167.6350,510.0810,125.3920,165.9050,323.9730,327.1620,0.0,0.0,0.0,0.0,0.0,382.9190,113.9460,329.2970,52.0410,333.9860
13,17218025,2014-01-15,44,1503844,991.7419,0,274.2581,229.7581,681.7903,210.8387,229.7903,527.4839,493.4355,0.0,0.0,0.0,0.0,0.0,551.0161,189.5161,397.1935,97.0645,483.7419
14,17281296,2014-01-16,44,1503844,535.7840,0,141.1220,199.6620,460.5270,114.7970,149.2700,338.5140,311.4460,0.0,0.0,0.0,0.0,0.0,374.5270,106.6490,271.0950,158.7970,367.3110
15,17344239,2014-01-17,44,1503844,622.4460,0,158.6490,150.2700,376.2300,130.7970,141.1760,381.4860,379.2300,0.0,0.0,0.0,0.0,0.0,439.9590,109.7430,350.0000,86.2700,482.6220
16,17412333,2014-01-18,44,1503844,1030.8380,0,184.2430,228.1080,770.4460,186.8240,312.2570,315.1890,525.4190,0.0,0.0,0.0,0.0,0.0,643.5270,211.9730,537.3380,162.3920,563.4050
17,17480047,2014-01-19,44,1503844,1194.8920,0,68.7970,313.8110,865.7430,271.4730,381.2970,432.8510,681.1350,0.0,0.0,0.0,0.0,0.0,655.9860,256.3510,712.7570,257.1220,553.5140
18,17544808,2014-01-20,44,1503844,459.9320,0,176.1350,179.1350,486.1350,146.5810,164.7430,224.0410,338.7300,0.0,0.0,0.0,0.0,0.0,425.3650,124.2300,251.5680,120.8920,263.6220
19,17608219,2014-01-21,44,1503844,666.3780,0,195.0680,178.2430,478.3510,143.5140,180.3380,431.1890,357.2160,0.0,0.0,0.0,0.0,0.0,429.1890,78.5140,333.8920,78.9050,433.5680
20,17670489,2014-01-22,44,1503844,925.2419,0,241.8387,236.0968,741.1129,175.6774,250.1129,545.2097,556.3871,0.0,0.0,0.0,0.0,0.0,535.0000,157.6452,486.0323,105.5484,508.5645
21,17732282,2014-01-23,44,1503844,543.6080,0,141.9590,196.2700,443.3650,171.2300,154.2570,325.7300,325.0680,0.0,0.0,0.0,0.0,0.0,352.7160,103.9190,294.5810,182.7430,298.7300
22,17794962,2014-01-24,44,1503844,573.8240,0,165.4190,174.5810,559.3380,138.5950,156.3920,373.0410,421.2300,0.0,0.0,0.0,0.0,0.0,515.5950,102.6890,414.0680,100.0410,341.3110
23,17862296,2014-01-25,44,1503844,945.8650,0,200.8380,232.0270,739.0000,211.8380,233.3920,413.3110,484.6220,0.0,0.0,0.0,0.0,0.0,601.5140,189.3920,426.2030,140.2700,486.1080
24,17929673,2014-01-26,44,1503844,1212.5140,0,104.3780,287.7160,705.1890,195.1490,340.4050,402.8920,534.6080,0.0,0.0,0.0,0.0,0.0,696.8110,278.3920,565.8110,229.0680,654.9190
25,17993566,2014-01-27,44,1503844,641.2700,0,127.8510,198.1220,362.7700,120.5270,196.6620,318.3920,222.0410,0.0,0.0,0.0,0.0,0.0,390.8920,59.2300,237.8510,131.8110,280.2570
26,18056001,2014-01-28,44,1503844,592.3650,0,203.2430,163.4860,460.9190,157.3110,169.5680,427.1350,338.4190,0.0,0.0,0.0,0.0,0.0,417.2970,116.6890,286.7840,99.0950,364.4050
27,18117659,2014-01-29,44,1503844,900.1129,0,260.3710,232.9839,631.3710,215.4194,274.6129,485.3065,478.9839,0.0,0.0,0.0,0.0,0.0,542.1774,156.2742,419.9194,109.2903,447.1129
28,18179043,2014-01-30,44,1503844,536.7160,0,100.8780,166.0540,387.9590,107.4320,133.7300,369.6490,278.9730,0.0,0.0,0.0,0.0,0.0,377.9460,99.1890,269.8240,129.0410,270.5540
29,18242746,2014-01-31,44,1503844,554.1890,0,157.6490,176.3650,445.5270,120.3110,141.5950,362.5680,300.1620,0.0,0.0,0.0,0.0,0.0,452.3110,100.8240,319.6080,87.5810,326.8920
30,19711518,2014-03-01,44,1503844,835.3560,0,141.9560,178.4220,510.5440,189.1780,201.6780,281.0110,437.9560,0.0,0.0,0.0,0.0,0.0,607.1440,198.3890,425.5440,144.4440,507.3000
31,19776485,2014-03-02,44,1503844,834.5110,0,44.9440,142.5330,491.2670,135.8780,149.2000,233.8220,281.3330,0.0,0.0,0.0,0.0,0.0,436.0000,186.1330,349.7220,174.3440,405.9780
32,19839174,2014-03-03,44,1503844,839.4440,0,59.0780,163.2660,416.7560,158.9670,189.0890,292.7780,305.1670,0.0,0.0,0.0,0.0,0.0,508.5110,163.4440,442.8330,180.8110,447.9440
33,19903334,2014-03-04,44,1503844,1087.7330,0,58.7220,179.8330,683.0330,238.8110,262.4220,395.3220,342.6890,0.0,0.0,0.0,0.0,0.0,633.8110,213.8000,514.0330,227.5110,478.2890
34,19969372,2014-03-05,44,1503844,977.8000,0,226.5467,248.5867,870.4533,168.0000,234.5200,648.5333,537.6933,0.0,0.0,0.0,0.0,0.0,650.1733,182.9467,528.2800,158.6933,654.2533
35,20034335,2014-03-06,44,1503844,713.5780,0,166.7140,192.1940,415.8270,162.6430,154.2240,416.7450,267.6120,0.0,0.0,0.0,0.0,0.0,374.6020,117.4390,269.2040,113.1530,427.8880
36,20098242,2014-03-07,44,1503844,527.6110,0,158.9080,193.0920,511.0410,140.3670,154.4080,368.7450,348.9080,0.0,0.0,0.0,0.0,0.0,414.1430,103.8780,319.9490,80.1730,363.1120
37,20164632,2014-03-08,44,1503844,922.1120,0,153.5710,177.8670,719.3370,180.4590,160.4390,306.9590,491.9590,0.0,0.0,0.0,0.0,0.0,547.8370,164.3570,407.4290,131.0200,472.5510
38,20231437,2014-03-09,44,1503844,1292.9490,0,80.4290,243.1430,546.3670,311.8060,375.7040,406.3370,596.8880,0.0,0.0,0.0,0.0,0.0,756.4390,246.2350,561.3980,247.3370,516.1330
39,20295376,2014-03-10,44,1503844,602.4390,0,134.6730,196.1940,426.9180,118.7350,198.8160,438.0610,226.4490,0.0,0.0,0.0,0.0,0.0,249.3160,138.1530,361.0510,121.1730,379.4690
40,20357711,2014-03-11,44,1503844,628.3780,0,136.7650,144.8670,408.1840,153.8670,156.9180,350.3160,341.1120,0.0,0.0,0.0,0.0,0.0,297.7450,123.8880,291.6430,72.3780,314.2860
41,20419691,2014-03-12,44,1503844,923.0488,0,288.3415,231.0488,718.9512,266.1341,230.0000,471.3902,376.8049,0.0,0.0,0.0,0.0,0.0,589.7683,128.6829,411.9146,91.6585,517.8293
42,20481536,2014-03-13,44,1503844,502.0000,0,108.1220,147.2350,416.1840,116.7650,153.5410,308.9690,328.7450,0.0,0.0,0.0,0.0,0.0,351.3160,67.8370,226.6220,141.1840,291.1630
43,20543798,2014-03-14,44,1503844,517.9800,0,127.3670,119.3270,474.6430,103.4590,169.2550,343.0410,322.0610,0.0,0.0,0.0,0.0,0.0,436.1530,90.8570,284.4690,73.5000,322.1530
44,20610191,2014-03-15,44,1503844,766.0920,0,137.8980,174.1430,553.0000,140.7760,208.2140,337.5710,418.7860,0.0,0.0,0.0,0.0,0.0,432.4690,144.2350,369.1220,143.8570,528.1330
45,20677331,2014-03-16,44,1503844,1453.0510,0,76.4900,261.2550,846.1220,293.6430,306.7040,509.5310,710.8270,0.0,0.0,0.0,0.0,0.0,889.0200,263.6940,763.0410,223.0510,724.6430
46,20742114,2014-03-17,44,1503844,705.4490,0,183.7240,165.2960,452.5810,105.1530,187.0920,383.7960,377.0920,0.0,0.0,0.0,0.0,0.0,602.8270,96.9290,297.0100,165.0310,470.8160
47,20805253,2014-03-18,44,1503844,532.6020,0,176.7450,145.0100,453.1940,131.9180,169.1020,267.3060,313.6430,0.0,0.0,0.0,0.0,0.0,357.7450,83.5610,242.1220,73.7550,368.3060
48,20868083,2014-03-19,44,1503844,914.8902,0,193.0732,243.6220,657.3902,290.5610,209.2317,432.3171,509.9634,0.0,0.0,0.0,0.0,0.0,526.5732,127.2073,434.7439,106.8780,444.2073
49,20930713,2014-03-20,44,1503844,492.9080,0,102.3570,151.0100,421.8370,87.5410,126.2240,312.5410,285.0920,0.0,0.0,0.0,0.0,0.0,313.0820,80.8570,265.8270,141.2350,288.4800

In [159]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error

In [160]:
train_ratio = 0.7
train, test = df.iloc[:round(train_ratio * df.shape[0]), :], df.iloc[round(train_ratio * df.shape[0]):, :]
train.reset_index(drop = True, inplace = True)
test.reset_index(drop = True, inplace = True)

print(train.shape)
print(test.shape)

(711, 23)
(305, 23)

In [128]:
p, d, q, s = 2, 1, 2, 7
model  = SARIMAX(endog = train['unit_sales'], exog = train[exog], order = (p, d, q), seasonal_order = (p, d, q, s))
model_fit = model.fit(disp = 0)
model_fit.summary()

D:\Anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 Statespace Model Results
=========================================================================================
Dep. Variable:                        unit_sales   No. Observations:                  711
Model:             SARIMAX(2, 1, 2)x(2, 1, 2, 7)   Log Likelihood               -4186.257
Date:                           Fri, 04 Oct 2019   AIC                           8424.515
Time:                                   15:49:38   BIC                           8542.954
Sample:                                        0   HQIC                          8470.290
                                           - 711
Covariance Type:                             opg
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
unit_sales1     -0.0085      0.108     -0.078      0.938      -0.221       0.204
unit_sales2      0.1801      0.116      1.558      0.119      -0.046       0.407
unit_sales3      0.1584      0.050      3.187      0.001       0.061       0.256
unit_sales4      0.5930      0.145      4.092      0.000       0.309       0.877
unit_sales6      0.2101      0.097      2.163      0.031       0.020       0.400
unit_sales7      0.0016      0.065      0.025      0.980      -0.126       0.129
unit_sales8      0.4778      0.052      9.264      0.000       0.377       0.579
unit_sales9      3.3602      9.803      0.343      0.732     -15.853      22.573
unit_sales10     4.3964      9.218      0.477      0.633     -13.671      22.464
unit_sales17 -6.724e-15   4925.569  -1.37e-18      1.000   -9653.938    9653.938
unit_sales18     4.9788      1.225      4.064      0.000       2.578       7.380
unit_sales20     5.3245      3.696      1.441      0.150      -1.919      12.568
unit_sales45     0.2292      0.059      3.888      0.000       0.114       0.345
unit_sales46     0.3798      0.138      2.755      0.006       0.110       0.650
unit_sales47     0.2980      0.068      4.376      0.000       0.165       0.432
unit_sales48     0.1738      0.134      1.294      0.196      -0.089       0.437
unit_sales49     0.0967      0.051      1.899      0.058      -0.003       0.196
ar.L1           -0.9259     13.750     -0.067      0.946     -27.875      26.023
ar.L2            0.0738      1.019      0.072      0.942      -1.924       2.072
ma.L1           -0.0003     13.719  -1.95e-05      1.000     -26.890      26.889
ma.L2           -0.9997     13.748     -0.073      0.942     -27.946      25.946
ar.S.L7         -0.8989      0.129     -6.956      0.000      -1.152      -0.646
ar.S.L14         0.0119      0.049      0.245      0.806      -0.083       0.107
ma.S.L7          0.0699      0.117      0.597      0.551      -0.160       0.300
ma.S.L14        -0.8083      0.107     -7.541      0.000      -1.018      -0.598
sigma2        8411.9863      0.677   1.24e+04      0.000    8410.659    8413.314
===================================================================================
Ljung-Box (Q):                       41.60   Jarque-Bera (JB):               288.08
Prob(Q):                              0.40   Prob(JB):                         0.00
Heteroskedasticity (H):               0.92   Skew:                             0.13
Prob(H) (two-sided):                  0.51   Kurtosis:                         6.13
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
[2] Covariance matrix is singular or near-singular, with condition number 1.98e+24. Standard errors may be unstable.
"""

In [173]:
# remove those that are not significant
# exog.remove('unit_sales1')
# exog.remove('unit_sales3')
# exog.remove('unit_sales4')
# exog.remove('unit_sales8')
# exog.remove('unit_sales9')
# exog.remove('unit_sales10')
# exog.remove('unit_sales17')
# exog.remove('unit_sales18')
# exog.remove('unit_sales20')
# exog.remove('unit_sales45')
# exog.remove('unit_sales46')
# exog.remove('unit_sales47')

p, d, q, s = 2, 1, 2, 7
model  = SARIMAX(endog = train['unit_sales'], exog = train[exog], order = (p, d, q), seasonal_order = (p, d, q, s), enforce_stationarity=False, enforce_invertibility=False)
model_fit = model.fit(disp = 0)
model_fit.summary()

D:\Anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 Statespace Model Results
=========================================================================================
Dep. Variable:                        unit_sales   No. Observations:                  711
Model:             SARIMAX(2, 1, 2)x(2, 1, 2, 7)   Log Likelihood               -4249.244
Date:                           Fri, 04 Oct 2019   AIC                           8526.489
Time:                                   16:52:17   BIC                           8589.921
Sample:                                        0   HQIC                          8551.032
                                           - 711
Covariance Type:                             opg
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
unit_sales2      1.0767      0.208      5.186      0.000       0.670       1.484
unit_sales6      0.6251      0.144      4.328      0.000       0.342       0.908
unit_sales7      0.1350      0.122      1.103      0.270      -0.105       0.375
unit_sales48     0.7289      0.245      2.981      0.003       0.250       1.208
unit_sales49     0.4665      0.090      5.200      0.000       0.291       0.642
ar.L1            0.7232      0.936      0.772      0.440      -1.112       2.558
ar.L2           -0.0608      0.079     -0.774      0.439      -0.215       0.093
ma.L1           -1.6635      0.937     -1.776      0.076      -3.499       0.172
ma.L2            0.6646      0.936      0.710      0.478      -1.170       2.499
ar.S.L7         -0.4801      0.631     -0.761      0.447      -1.717       0.757
ar.S.L14        -0.0701      0.100     -0.701      0.483      -0.266       0.126
ma.S.L7         -0.2380      0.641     -0.372      0.710      -1.493       1.017
ma.S.L14        -0.2960      0.460     -0.644      0.519      -1.197       0.605
sigma2        2.125e+04   1408.199     15.087      0.000    1.85e+04     2.4e+04
===================================================================================
Ljung-Box (Q):                       44.38   Jarque-Bera (JB):               180.82
Prob(Q):                              0.29   Prob(JB):                         0.00
Heteroskedasticity (H):               0.77   Skew:                             0.08
Prob(H) (two-sided):                  0.05   Kurtosis:                         5.51
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [175]:
# remove those that are not significant
# exog.remove('unit_sales2')
# exog.remove('unit_sales6')
# exog.remove('unit_sales48')
# exog.remove('unit_sales49')

p, d, q, s = 2, 1, 2, 7
model  = SARIMAX(endog = train['unit_sales'], exog = train[exog], order = (p, d, q), seasonal_order = (p, d, q, s), enforce_stationarity=False, enforce_invertibility=False)
model_fit = model.fit(disp = 0)
model_fit.summary()

D:\Anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 Statespace Model Results
=========================================================================================
Dep. Variable:                        unit_sales   No. Observations:                  711
Model:             SARIMAX(2, 1, 2)x(2, 1, 2, 7)   Log Likelihood               -4399.419
Date:                           Fri, 04 Oct 2019   AIC                           8818.838
Time:                                   16:55:28   BIC                           8864.147
Sample:                                        0   HQIC                          8836.369
                                           - 711
Covariance Type:                             opg
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
unit_sales7     0.9112      0.098      9.322      0.000       0.720       1.103
ar.L1           0.7937      0.191      4.155      0.000       0.419       1.168
ar.L2          -0.2205      0.054     -4.121      0.000      -0.325      -0.116
ma.L1          -1.6797      0.193     -8.697      0.000      -2.058      -1.301
ma.L2           0.6805      0.194      3.513      0.000       0.301       1.060
ar.S.L7        -0.4304      0.543     -0.793      0.428      -1.494       0.634
ar.S.L14        0.0297      0.122      0.243      0.808      -0.210       0.269
ma.S.L7        -0.1604      0.545     -0.295      0.768      -1.228       0.907
ma.S.L14       -0.2595      0.291     -0.892      0.372      -0.830       0.311
sigma2        3.12e+04   1944.558     16.044      0.000    2.74e+04     3.5e+04
===================================================================================
Ljung-Box (Q):                       62.93   Jarque-Bera (JB):               307.97
Prob(Q):                              0.01   Prob(JB):                         0.00
Heteroskedasticity (H):               0.67   Skew:                             0.44
Prob(H) (two-sided):                  0.00   Kurtosis:                         6.16
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [177]:
# remove those that are not significant
# exog.remove('unit_sales7')

p, d, q, s = 2, 1, 2, 7
model  = SARIMAX(endog = train['unit_sales'], order = (p, d, q), seasonal_order = (p, d, q, s), enforce_stationarity=False, enforce_invertibility=False)
model_fit = model.fit(disp = 0)
model_fit.summary()

D:\Anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 Statespace Model Results
=========================================================================================
Dep. Variable:                        unit_sales   No. Observations:                  711
Model:             SARIMAX(2, 1, 2)x(2, 1, 2, 7)   Log Likelihood               -4466.056
Date:                           Fri, 04 Oct 2019   AIC                           8950.112
Time:                                   16:56:06   BIC                           8990.890
Sample:                                        0   HQIC                          8965.890
                                           - 711
Covariance Type:                             opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          0.8901      0.188      4.740      0.000       0.522       1.258
ar.L2         -0.2319      0.048     -4.790      0.000      -0.327      -0.137
ma.L1         -1.7264      0.184     -9.366      0.000      -2.088      -1.365
ma.L2          0.7268      0.185      3.936      0.000       0.365       1.089
ar.S.L7       -0.4447      0.549     -0.810      0.418      -1.521       0.631
ar.S.L14       0.0305      0.124      0.247      0.805      -0.212       0.273
ma.S.L7       -0.1280      0.550     -0.233      0.816      -1.207       0.951
ma.S.L14      -0.2729      0.296     -0.921      0.357      -0.854       0.308
sigma2      3.763e+04   2356.537     15.968      0.000     3.3e+04    4.22e+04
===================================================================================
Ljung-Box (Q):                       72.75   Jarque-Bera (JB):               505.02
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):               0.68   Skew:                             0.24
Prob(H) (two-sided):                  0.00   Kurtosis:                         7.17
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [180]:
endog = train['unit_sales']
predictions = []

for i in range(len(test)):
    model  = SARIMAX(endog = endog, order = (p, d, q), seasonal_order = (p, d, q, s), enforce_stationarity=False, enforce_invertibility=False)
    model_fit = model.fit(disp = 0)
    output = model_fit.predict()
    yhat = output[0]
    predictions.append(yhat)
    obs = test.iloc[i][['unit_sales']]
    endog.append(obs)
    
    print('predicted = {}, expected = {}'.format(yhat, obs['unit_sales']))